/* Formatting specific to the StockWatcher application */

body {
	padding: 10px;
}

.flexTableHeader {
	background-color: #99D2FF;
	color: #001D34;
	font-size: 12;
	font-weight: bold;
}

.flexTable {
	border: 1px solid silver;
	padding: 2px;
	margin-bottom: 6px;
	border-spacing: 1px;
}

.mouseEvent {
	background-color: orange;
}